<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.system.auth.authuser.AuthUserMapper">
    <select id="SELECT_USER_INFO" resultType="com.system.auth.authuser.AuthUser">
        SELECT
            id,
            eml AS email,
            pswd AS pwd,
            role,
            user_id,
            inst_cd AS offc_cd,
            sys_crt_usr_id,
            sys_gen_dt AS sys_crt_dt,
            sys_mdfcn_dt AS sys_upd_dt,
            sys_mdfr_id AS sys_upd_usr_id,
            fnm AS user_nm,
            telno AS tel,
            addr,
            addr_dtl,
            post_cd,
            uuid
        FROM SYS_USER
        WHERE eml = #{email}
    </select>

    <insert id="INSERT_USER_INFO" parameterType="com.system.auth.authuser.AuthUser">
        INSERT INTO SYS_USER (
            id,
            user_id,
            pswd,
            eml,
            sys_gen_dt
        <trim prefix="," prefixOverrides=",">
            <if test="user_nm != null">, fnm</if>
            <if test="tel != null">, telno</if>
            <if test="addr != null">, addr</if>
            <if test="addr_dtl != null">, addr_dtl</if>
            <if test="post_cd != null">, post_cd</if>
            <if test="uuid != null">, uuid</if>
            <if test="role != null">, role</if>
            <if test="offc_cd != null">, inst_cd</if>
            <if test="sys_crt_usr_id != null">, sys_crt_usr_id</if>
        </trim>
        ) VALUES (
            #{id},
            #{user_id},
            #{pwd},
            #{email},
            NOW()
        <trim prefix="," prefixOverrides=",">
            <if test="user_nm != null">, #{user_nm}</if>
            <if test="tel != null">, #{tel}</if>
            <if test="addr != null">, #{addr}</if>
            <if test="addr_dtl != null">, #{addr_dtl}</if>
            <if test="post_cd != null">, #{post_cd}</if>
            <if test="uuid != null">, #{uuid}</if>
            <if test="role != null">, #{role}</if>
            <if test="offc_cd != null">, #{offc_cd}</if>
            <if test="sys_crt_usr_id != null">, #{sys_crt_usr_id}</if>
        </trim>
        )
    </insert>

    <delete id="DELETE">
        DELETE FROM SYS_USER WHERE id = #{id}
    </delete>
</mapper>
