<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.system.auth.mapper.SequenceMapper">
    <update id="INCREMENT_TOKEN_ID">
        UPDATE SYS_TOKEN_SEQ
        SET NXT_NOT_CHCD_VAL = LAST_INSERT_ID(NXT_NOT_CHCD_VAL) + INCRS_VL
    </update>

    <select id="SELECT_NEXT_TOKEN_ID" resultType="long">
        SELECT LAST_INSERT_ID()
    </select>
</mapper>
