<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.system.auth.token.TokenMapper">
    <resultMap id="TokenResult" type="com.system.auth.domain.Token">
        <id property="id" column="id" />
        <result property="token" column="token" />
        <result property="token_type" column="token_type" />
        <result property="revok" column="revok" />
        <result property="exp" column="exp" />
        <association property="auth_user" javaType="com.system.auth.authuser.AuthUser">
            <id property="id" column="user_id" />
            <result property="user_id" column="user_id_string" />
            <result property="email" column="email" />
        </association>
    </resultMap>

    <select id="SELECT_TOKEN" resultMap="TokenResult">
        SELECT
            T.id,
            T.token_vl AS token,
            T.token_type,
            T.dscd_yn AS revok,
            T.expry_yn AS exp,
            T.user_id,
            U.user_id as user_id_string,
            U.eml as email
        FROM
            SYS_TOKEN T
        LEFT JOIN SYS_USER U ON T.user_id = U.id
        WHERE T.token_vl = #{token}
    </select>

    <select id="SELECT_ALL_TOKEN" parameterType="com.system.auth.domain.Token" resultType="com.system.auth.domain.Token">
        SELECT
            id,
            token_vl AS token,
            token_type,
            dscd_yn AS revok,
            expry_yn AS exp,
            user_id
        FROM SYS_TOKEN
        WHERE user_id = #{auth_user.id}
          AND expry_yn = #{exp}
          AND dscd_yn = #{revok}
    </select>
    <insert id="INSERT_TOKEN" parameterType="com.system.auth.domain.Token">
        INSERT INTO SYS_TOKEN(
            id,
            expry_yn,
            dscd_yn,
            user_id,
            token_vl,
            token_type
        )VALUES(
            #{id},
            #{exp},
            #{revok},
            #{auth_user.id},
            #{token},
            #{token_type}
        )
    </insert>
    <update id="UPDATE_TOKEN" parameterType="com.system.auth.domain.Token">
        UPDATE SYS_TOKEN
        SET expry_yn = #{exp}, dscd_yn = #{revok}
        WHERE token_vl = #{token}
    </update>

    <delete id="DELETE_EXP_TOKEN_BY_USER_ID" parameterType="long">
        DELETE FROM SYS_TOKEN
        WHERE user_id = #{userId} AND (expry_yn = 1 OR dscd_yn = 1)
    </delete>

    <update id="REVOKE_ALL_USER_TOKENS" parameterType="long">
        UPDATE SYS_TOKEN
        SET expry_yn = 1, dscd_yn = 1
        WHERE user_id = #{userId} AND expry_yn = 0 AND dscd_yn = 0
    </update>
</mapper>
